.elements {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-column-gap: 17px;
  grid-row-gap: 21px;
  justify-content: center;
}

