.profile-info__flex {
  display: flex;
  flex-direction: row;
  grid-area: flex-block;
  align-items: flex-end;
}

@media all and (max-width: 880px) {
  .profile-info__flex {
   justify-content: center;
  }
}