.element__like {
  width: 20px;
  height: 18px;
  background-image: url(../../../images/like.png);
  background-color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity 1s ease 0s;
  outline: none;
}

.element__like:hover {
  opacity: 0.6;
}